doctype html
html(lang='en', ng-app='workijiApp')
    head
        // Html Page Specific
        meta(charset='utf-8')
        title Pointer - Startup Landing Page
        meta(name='description', content='Startup landing page')
        meta(name='author', content='Multifour | multifour.com')
        // Mobile Specific
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
        //if lt IE 9
          script(type='text/javascript', src='scripts/html5shiv.js')
        // CSS
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/animate.css')
        link(rel='stylesheet', href='/stylesheets/simple-line-icons.css')
        link(rel='stylesheet', href='/stylesheets/soc-icons.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        // Favicons
        link(rel='icon', href='images/favicon.ico')
        link(rel='apple-touch-icon', href='images/apple-touch-icon.png')
        link(rel='apple-touch-icon', sizes='72x72', href='images/apple-touch-icon-72x72.png')
        link(rel='apple-touch-icon', sizes='114x114', href='images/apple-touch-icon-114x114.png')
    body(ng-controller='mainController')
        // PRELOADER
        #preloader
            .clock
                .arrow_sec
                .arrow_min
        #wrap
            // HEADER BEGIN
            header#header
                .container
                    a.logo(href='#')
                        img(src='./images/logo_f.png', alt='Best start for your business', height='80', width='85')
                    a.login_btn(href='#') Login
                    ul.soc_nav
                        li
                            a.icon-soc-googleplus(href='#')
                        li
                            a.icon-soc-facebook(href='#')
                        li
                            a.icon-soc-twitter(href='#')
            // HEADER END
            // INTRO BEGIN
            section#intro
                .container
                    .row
                        .col-lg-6.col-md-7.col-sm-6
                            .slogan
                                h3.wow.fadeInRight(data-wow-delay='0.6s', data-wow-duration='0.5s') Manage Work requests
                                h3.wow.fadeInLeft(data-wow-delay='0.9s', data-wow-duration='0.5s') on your mobile phone
                                a(href="#").wow.fadeInRight(data-wow-delay='0.9s', data-wow-duration='0.5s') Learn More
                                p.wow.fadeInRight(data-wow-delay='1.2s')
                                    | The Workiji mobile app manages on-demand maintenance service requests for Hotels, Apartments, Condominium. Additionally Workiji also manages all external and public
                                    | work activies including public works in a central inbox.
                        .col-lg-4.col-lg-offset-2.col-md-5.col-sm-6
                            form#register_form
                                .title.wow.flipInX(data-wow-duration='0.6s')  Register now
                                .form-group
                                    input#name.form-control.wow.flipInX(type='text', data-wow-delay='0.8s', data-wow-duration='0.2s', placeholder='Full name', name='name', ng-model='formData.name')
                                .form-group
                                    input#email.form-control.wow.flipInX(type='email', data-wow-delay='1s', data-wow-duration='0.2s', placeholder='Email', name='email', ng-model='formData.email')
                                .form-group
                                    input#address.form-control.wow.flipInX(type='text', data-wow-delay='1.2s', data-wow-duration='0.2s', placeholder='Address', name='address', ng-model='formData.address')
                                .form-group
                                    input#contactNumber.form-control.wow.flipInX(type='tel', data-wow-delay='1.4s', data-wow-duration='0.2s', placeholder='Contact Number', name='contactNumber', ng-model='formData.contact')
                                button#register_submit.btn.btn_start.wow.flipInX(ng-click="createTodo()", type='submit', data-wow-delay='1.6s', data-wow-duration='0.2s') Register
                #slides(data-stellar-ratio='0.4')
                    .slides-container
                        img(src='images/landing/landing_image_1.jpg', alt='')
                        img(src='images/landing/landing_image_2.jpg', alt='')
                        img(src='images/landing/landing_image_3.jpg', alt='')
            // INTRO END
            // SCREENSHOT BEGINS
            section#testimonials
                h4 Testimonials
                #testimonials-slider.owl-carousel
                    .item
                        .photo
                            img(src='images/screenshoot/splash_screen.png', alt='author')
                        |    <br>
                    .item
                        .photo
                            img(src='images/screenshoot/create_sms_ticket.png', alt='author')
                        |   <br>
                    .item
                        .photo
                            img(src='images/screenshoot/ticket_list_view.png', alt='author')
                        |   <br>
                    .item
                        .photo
                            img(src='images/screenshoot/map_view_2.png', alt='author')
                        |     <br>
                    .item
                        .photo
                            img(src='images/screenshoot/assign_contractor_view.png', alt='author')
                        |   <br>
                    .item
                        .photo
                            img(src='images/screenshoot/select_contractor_view.png', alt='author')
                        |    <br>
                    .item
                        .photo
                            img(src='images/screenshoot/contractor_qoute.png', alt='author')
                        |   <br>
                    .item
                        .photo
                            img(src='images/screenshoot/approved_signature.png', alt='author')
                        |    <br>
                    .item
                        .photo
                            img(src='images/screenshoot/add_event_voice.png', alt='author')
                        |     <br>
                    .item
                        .photo
                            img(src='images/screenshoot/timeline_view.png', alt='author')
                        |   <br>
                    .item
                        .photo
                            img(src='images/screenshoot/calendar_schedule_view.png', alt='author')
                        |    <br>
                    .item
                        .photo
                            img(src='images/screenshoot/work_order_view.png', alt='author')
                        |   <br>
                    .item
                        .photo
                            img(src='images/screenshoot/rate_ticket.png', alt='author')
                        |    <br>
                    .item
                        .photo
                            img(src='images/screenshoot/building_manage_view.png', alt='author')
                        |   <br>
                    .item
                        .photo
                            img(src='images/screenshoot/analytics_pie.png', alt='author')
                        |    <br>
                    .item
                        .photo
                            img(src='images/screenshoot/analytics_table.png', alt='author')
                        |   <br>

            // SCREENSHOT ENDS
            // SERVICES BEGINS
            section#services
                .container
                    .row
                        .col-md-4.service
                            i.icon-drawer
                            h4 Service Request(SR) Inbox Queue
                            ul(type='disc')
                                li(type='disc') Use Mobile Phone to snap image of maintenance issues &amp; SMS to a central phone number
                                li(type='disc') SMS SR to delivered Real-time to Central Inbox managed by an Agent

                        .col-md-4.service
                            i.icon-badge
                            h4 Triage, Dispatch, and Approval for SR
                            ul(type='disc')
                                li(type='disc') Intelligent SR parsing &amp; dispatch to Contractor
                                li(type='disc') Receive Quotation from Contractors
                                li(type='disc') Approval &amp; eSignature for Quotation
                        .col-md-4.service
                            i.icon-map
                            h4 Map View for all SR and Work Orders
                            ul(type='disc')
                                li(type='disc') Geocoding of SR &amp; Work Orders
                                li(type='disc') Navigate all SR &amp; Work Orders on Map
                        .clearfix.visible-lg.visible-md
                        .col-md-4.service
                            i.icon-users
                            h4 Contractor Management
                            ul(type='disc')
                                li(type='disc') Manage all SR assigned to Contractors
                                li(type='disc') Manage Work Orders
                                li(type='disc') Manage Contractors invoices
                        .col-md-4.service
                            i.icon-wrench
                            h4 Work Management
                            ul(type='disc')
                                li(type='disc') Generate &amp; Schedule a Work Order
                                li(type='disc') Timeline view to track Progress of Work Orders
                                li(type='disc') Timeline view to track Progress of Work Orders
                        .col-md-4.service
                            i.icon-emoticon-smile
                            h4 User Management
                            ul(type='disc')
                                li(type='disc') Authenticate Users with Cloud Backend Service
                                li(type='disc') Manage all Users for an Organization and for Buildings
                                li(type='disc') Manage Contractors assigned to Organization
                        .clearfix.visible-lg.visible-md
                        .col-md-4.service
                            i.icon-home
                            h4 Building Management
                            ul(type='disc')
                                li(type='disc') Setup Buildings per Organization
                                li(type='disc') Create or Import Building data (floors &amp; rooms)
                                li(type='disc') Track maintenance Service Requests for all Suites
                        .col-md-4.service
                            i.icon-graph
                            h4 Real Time Analytics Dashboard
                            ul(type='disc')
                                li(type='disc') Analytics Summary for all SR and Work Orders
                                li(type='disc') Set up Custom Events for Dashboard Monitoring
                                li(type='disc') Switch between pie, line graph views
                        .col-md-4.service
                            i.icon-calendar
                            h4 Calendar Appointment Scheduler
                            ul(type='disc')
                                li(type='disc') Voice Command to create Calendar Event for Work Order
                                li(type='disc') Navigate Work Orders from Calendar
            //SERVICES ENDS
            // CONTACT BEGIN
            section#contact
                .container
                    .row
                        .col-md-4
                            h4 Contact us
                            ul.contact_data_list
                                li
                                    i.icon-call-in
                                    |  (416) 871-0700
                                li
                                    i.icon-pointer
                                    |  Address,  Postal code,  City,  Country
                                li
                                    i.icon-envelope
                                    |  najier@email.com
                        .col-md-5
                            h4 Subscribe
                            form#subscribe_form(action='scripts/subscribe.php', method='post')
                                .input-group
                                    input#subscribe_email.form-control(type='email', name='email', placeholder='Enter your email here')
                                    .input-group-btn
                                        button#subscribe_submit.btn(type='submit')
                                            i.icon-envelope
                            p Subscribe to our newsletter, actions and updates
                        .col-md-3
                            h4 Follow us
                            ul.soc_nav
                                li
                                    a.icon-soc-googleplus(href='#')
                                li
                                    a.icon-soc-facebook(href='#')
                                li
                                    a.icon-soc-twitter(href='#')
            // CONTACT END
            // FOOTER BEGIN
            footer#footer
                .container
                    a.logo(href='#')
                        img(src='./images/logo_f.png', alt='Best start for your business', height='40', width='45')
                    p
                        | © 2017 Workiji
                        br
                        |                Designed by WebGuru.com
            // FOOTER END
        // MODALS BEGIN
        // Subscribe modal
        #modalSubscribe.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog
                .modal-content
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                    h3.modal-title
                        i.icon-paper-plane
                            br
                            | Verify OTP
                    form#form_otp
                        #input-group
                            input#otp_number.form-control.wow.flipInX(type='text', placeholder='Please enter OTP number', name='otp_number', data-wow-delay='0.5s', data-wow-duration='0.2s', ng-model='formData.otp_number')
                            br
                            button#submit_otp.button.button2.wow.flipInX(ng-click='verifyOTP()', type='submit', data-wow-delay='1.6s', data-wow-duration='0.2s') Verify
        // MODALS END
        // JavaScript
        script(src='javascripts/jquery-1.8.2.min.js')
        script(src='javascripts/bootstrap.min.js')
        script(src='javascripts/owl.carousel.min.js')
        script(src='javascripts/jquery.validate.min.js')
        script(src='javascripts/wow.min.js')
        script(src='javascripts/smoothscroll.js')
        script(src='javascripts/jquery.stellar.min.js')
        script(src='javascripts/jquery.superslides.min.js')
        script(src='javascripts/placeholders.jquery.min.js')
        script(src='javascripts/custom.js')
        script(src="javascripts/angular.min.js")
        script(src="javascripts/controllers/main.js")
        script(src="javascripts/services/todos.js")
        script(src="javascripts/core.js")


        //if lte IE 9
          script(src='scripts/respond.min.js')
